p {
  font-family: Verdana;
  font-size: 13px;
  color: #caf0f8;
}
h1 {
  color: #ff00ff;
  width: 400px;
  border: 3px solid green;
  text-align: center;
  background: yellow;
  margin: auto;
  font-size: 40px;
  text-shadow: 6px 6px 3px blue;
}
h4 {
  font-size: 20px;
  font-styl: bold;
  color: #90e9ef;
}

li {
   
   font-size: 13px;
   color: white;
   font-family: Sans-serif;
}

img {
  display: block;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border: 5px solid #00b4d8;
}

body {
  background-color: #03045e;
  padding: 10px;
}

html{
  background-color: #caf0f8;
  margin: 3px;
  border: 2px solid black;
  padding: 6px;
{
